In [ ]:
import camelot
import pandas as pd
import json
from functools import reduce
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
def get_data(tables):
    data_frames = []
    for i in range(len(tables)):
        data_frames.append(tables[i].df)
    return data_frames

In [ ]:
data_frames = get_data(camelot.read_pdf('2018/prograd.pdf', pages='4-end', flavor='lattice', strip_text='\n'))

In [ ]:
data_frames[0].drop(0,inplace=True)

In [ ]:
data_frames[1].drop(1,inplace=True)

In [ ]:
data_frames[2].drop(1,inplace=True)

In [ ]:
data_frames[3].drop(1,inplace=True)

In [ ]:
data_frames[4].drop(1,inplace=True)

In [ ]:
data_frames[6].drop(0,inplace=True)

In [ ]:
data_frames[7].drop(1,inplace=True)

In [ ]:
data_frames[8].drop(0,inplace=True)

In [ ]:
data_frames[10].drop(0,inplace=True)

In [ ]:
data_frames[13].columns

In [ ]:
new_data_frames = list()

In [ ]:
if 6 in data_frames[8]: print('oi')

In [ ]:
for i in data_frames: if 6 in i: i.drop(6,axis=1,inplace=True) #REMOVE AS COLUNAS EM BRANCO

In [ ]:
df = pd.DataFrame(data=['daniel','','','lucas'])

In [ ]:
x = df.isin(values=[''])

In [ ]:
x.all()

In [ ]:
#PAULO TELEGRAM
for df in data_frames:
    df = df[~df.isnull().all(axis=1)]
"deveria remover as linhas que contém algum valor nulo"

In [302]:
data_frames[2].isin(values=['']).all(axis=1) #verifica qual sao as linhas que tem string vazia,
#e retorna true pra essas que possuem vazio em todas as colunas

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [304]:
type(data_frames[2].isin(values=['']).all(axis=1))

pandas.core.series.Series

In [305]:
series = data_frames[2].isin(values=['']).all(axis=1)

In [334]:
data_frames[2]

,0,1,2,3,4,5
0,Unidade,Programa/Projeto,Coordenador,Área deConhecimento,Título trabalho,Apresentador
1,,,,,,
2,CPTL,PETMatemáticaConexões deSaberes,EugeniaBrunilda OpazoUribe,Ciências Exatas eda Terra,Contadores de histórias:incentivando a cultura...,Christian Luz Pelissari deOliveira; Carlos Hen...
3,,PETMatemáticaConexões deSaberes,EugeniaBrunilda OpazoUribe,Ciências Exatas eda Terra,Ações do PET Conexões deSaberes Matemática/CPT...,Jéssica Soares de Souza;Tayla da Silva Correa ...
4,,PETMatemáticaConexões deSaberes,EugeniaBrunilda OpazoUribe,Ciências Exatas eda Terra,Fábrica de jogos: contribuiçõesdo PET conexões...,Gerson dos Santos Farias;Ederson Luz Macedo
5,,PETMatemáticaConexões deSaberes,EugeniaBrunilda OpazoUribe,Ciências Exatas eda Terra,O estudo de geometria e aformação de professor...,Pamella Roberta Ferreira daSilva; Ritchard Mat...
6,,PETMatemáticaConexões deSaberes,EugeniaBrunilda OpazoUribe,Ciências Exatas eda Terra,Oficina de geometria especial: amedida da área...,Richard M. de S. Silva;Christian L. P. de Oliv...
7,Inqui,PETQuímica,SérgioCarvalho deAraújo,Ciências Exatas eda Terra,Show da química: uma propostalúdica para o ens...,Martinho José Alves deSousa; Myrella do Espíri...
8,,PETQuímica,SérgioCarvalho deAraújo,Ciências Exatas eda Terra,Oficina temática no ensino dequímica “alimenta...,Nudson Souza Santos;Daniele Correia
9,,PETQuímica,SérgioCarvalho deAraújo,Ciências Exatas eda Terra,Masterchef Science,Rafael Gonçalves Padilha;Rayanne Silva Santos;...
10,CPPP,PETMatemáticaConexões deSaberes,ClaudiaCarreira daRosa,Ciências Exatas eda Terra,Plantão PET,Giuliani Alessandra ToralesBenitez e Tchaila R...
11,CPPP,PETMatemáticaConexões deSaberes,ClaudiaCarreira daRosa,Ciências Exatas eda Terra,Monitorias nas Escolas: UmaPossibilidade de En...,Lucio Ramao MarecoTatsuta e Mary KarolineVilalba

In [301]:
for df in data_frames:
    for x in df.isin(values=['']).all(axis=1):
        if x == True: df.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [ ]:
for_rm_df = list()

In [ ]:
for df in data_frames:
    for_rm_df.append(df.isin(values=['']).all(axis=1))

In [ ]:
for_rm_df

In [ ]:
df = reduce(lambda left,right: pd.merge(left,right,on=[0,1,2,3,4,5],how='outer'), data_frames)

In [ ]:
df.drop(0, inplace=True)
df.rename(columns={
    0:'Unidade', 1:'Programa/Projeto', 2:'Coordenador', 
    3:'Área de Conhecimento', 4:'Título trabalho', 5:'Apresentador'},inplace=True)