In [ ]:
import camelot
import pandas as pd
from functools import reduce
import numpy as np

In [ ]:
def get_data(tables):
    data_frames = []
    for i in range(len(tables)):
        data_frames.append(tables[i].df)
    return data_frames

In [ ]:
data_frames = get_data(camelot.read_pdf('2018/prograd.pdf', pages='4-end', flavor='lattice', strip_text='\\n'))

In [ ]:
#data_frames[0][0]=='Unidade'
#data_frames[0][data_frames[0][0]=='Unidade']

In [ ]:
#data_frames[2].replace(regex='\\n', value=' ')

In [ ]:
#data_frames[2][data_frames[2].isin(values=['']).all(axis=1)]

In [ ]:
#data_frames[2][~data_frames[2].isin(values=['']).all(axis=1)] #retorna a negacao do de cima!

In [ ]:
for df in data_frames: #OK
    if 6 in df: df.drop(6,axis=1,inplace=True) #REMOVE AS COLUNAS EM BRANCO
#     df[~df.isin(values=['']).all(axis=1)]

In [ ]:
for i in range(len(data_frames)): #REMOVE AS LINHAS EM BRANCO
    data_frames[i] = data_frames[i][~data_frames[i].isin(values=['']).all(axis=1)]
    #data_frames[i] = data_frames[i].replace(regex='\\n', value=' ')
    #data_frames[i] = data_frames[i][~data_frames[i][0].str.contains("Data de apresentação")]
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['Unidade','Programa/Projeto','Coordenador','Área de Conhecimento','Título trabalho','Apresentador']).all(axis=1)]

In [ ]:
data_frames[2]

In [446]:
for i in range(len(data_frames)): #TROCA OS \n POR ESPACOS
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['']).all(axis=1)]
    data_frames[i] = data_frames[i].replace(regex='\\n', value=' ')
    #data_frames[i] = data_frames[i][~data_frames[i][0].str.contains("Data de apresentação")]
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['Unidade','Programa/Projeto','Coordenador','Área de Conhecimento','Título trabalho','Apresentador']).all(axis=1)]

In [ ]:
data_frames[2]

In [454]:
for i in range(len(data_frames)): #REMOVE AS LINHAS COM DATA DE APRESENTACAO
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['']).all(axis=1)]
    #data_frames[i] = data_frames[i].replace(regex='\\n', value=' ')
    data_frames[i] = data_frames[i][~data_frames[i][0].str.contains("Data de apresentação")]
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['Unidade','Programa/Projeto','Coordenador','Área de Conhecimento','Título trabalho','Apresentador']).all(axis=1)]

In [455]:
data_frames[6]

,0,1,2,3,4,5
1,Unidade,Programa/ Projeto,Coordenador,Área de Conhecimento,Título trabalho,Apresentador
2,CPTL,PET SAÚDE,Juliana Dias Reis Pessalacia,Ciências da Saúde,Experiências de integração do PET Saúde Gradua...,Nayla Aparecida Soares Couto
3,FAMED,,Rosimeire Aparecida Manoel Seixas,Ciências da Saúde,As relações de cuidado do diabetes mellitus na...,Juliana Marques Benedito; Tais Rosa Calisto; J...
4,,,Rosimeire Aparecida Manoel Seixas,Ciências da Saúde,PET Saúde Graduasus na Medicina: Contribuições...,Patricia Cristina Vicente
5,Unidade,Programa/ Projeto,Coordenador,Área de Conhecimento,Título trabalho,Apresentador

In [457]:
for i in range(len(data_frames)):
    #data_frames[i] = data_frames[i][~data_frames[i].isin(values=['']).all(axis=1)]
    #data_frames[i] = data_frames[i].replace(regex='\\n', value=' ')
    #data_frames[i] = data_frames[i][~data_frames[i][0].str.contains("Data de apresentação")]
    data_frames[i] = data_frames[i][~data_frames[i].isin(values=['Unidade','Programa/ Projeto','Coordenador','Área de Conhecimento','Título trabalho','Apresentador']).all(axis=1)]

In [462]:
data_frames[2]

        0      1      2      3      4      5
0    True   True   True   True   True   True
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False  False  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False

In [ ]:
#data_frames[0][0].str.contains("Data de apresentação") #NICEEE!!!

In [ ]:
#data_frames[1][~data_frames[1][0].str.contains("Data de apresentação")] #nessa celula eu removo as tuplas q 
#tem 'data de apresentacao' na primeira linha

In [ ]:
# for i in range(len(data_frames)):
#     data_frames[i] = data_frames[i][~data_frames[i][0].str.contains("Data de apresentação")]

In [ ]:
#data_frames[8]
#'Unidade','Programa/Projeto','Coordenador','Área deConhecimento','Título trabalho','Apresentador'
#Removo as linhas que contem esses dados
#for i in range(len(data_frames)):
#    data_frames[i] = data_frames[i][~data_frames[i].isin(values=['Unidade','Programa/Projeto','Coordenador','Área de Conhecimento','Título trabalho','Apresentador']).all(axis=1)]

In [ ]:
df = reduce(lambda left,right: pd.merge(left,right,on=[0,1,2,3,4,5],how='outer'), data_frames)

In [ ]:
df = df[~df.isin(values=[''])] #retorna NaN para os valores que sao string vazia, isso por causa da negacao

In [ ]:
df.ffill(axis=0, inplace=True)

In [ ]:
df.rename(columns={
    0:'Unidade', 1:'Programa/Projeto', 2:'Coordenador',
    3:'Área de Conhecimento', 4:'Título trabalho', 5:'Apresentador'},inplace=True)

In [ ]:
df

In [ ]:
#df.to_excel('teste_WITH_OUT_regex.xlsx')